extends ../layouts/common 
block content

    div(class="p-3")
        h1 Home


        div
            a(href="/books") Books

        div
            a(href="/users") Users

        div
            a(href="/transactions") Transactions