extends ../layouts/common 
block content

    .row.justify-content-md-center
        .col-md-6
            h1 UPDATE PROFILE 
            if errors
                each error in errors
                    .alert.alert-danger= error

            form(action="/users/" + user.id + "/update", method="POST", enctype="multipart/form-data")
                .form-group
                    label(for="name") User Name
                    input#name.form-control(type="text", name="name",  value= values ? values.name : "")


                .form-group
                    label(for="phone") Phone Number
                    input#phone.form-control(type="text", name="phone",  value= values ? values.phone : "")
                
                .form-group
                    label(for="password") Password
                    input#password.form-control(type="password", name="password")

                .form-group
                    label(for="avatar") Avatar
                    input#avatar.form-control-file(type="file", name="avatar")

                button.btn.btn-success Update